:root {
    --yellow: #FEC63E;
    --black: #000;
    --white: #FFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    transition: ease-in-out 0.3s;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
}

h2, h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    text-align: unset;
}

h2::after, h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--black);
    margin: 5px auto;
}


#padding-section section  {
    padding: 60px 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.btn {
    padding: 10px 31px;
    background-color: transparent;
    border: solid 4px var(--yellow);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: var(--yellow);
    font-weight: bold;
    letter-spacing: .1em;
    transition: ease-in-out 0.3s;
    display: inline-block;
}

.btn:hover {
    border-color: var(--white);
    color: var(--white);
}

.btn.btn-preto:hover {
    border-color: var(--black);
    color: var(--black);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px 0;
    z-index: 200;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: var(--white);
}

ul li a.menu-ativo {color: var(--white);}

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
}

.introducao h1 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-top: 80px;
}

.quote-externo {
    max-width: 262px;
    margin: 10px auto;
    font-style: italic;
}

.quote-externo p::before, .quote-externo p::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--white);
    margin: 14px auto;
}

.quote-externo cite {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.produtos .imagem-produto{
    background-color: var(--black);
    padding: 20px;
    text-align: center;
}

.produtos .descricao-produto {
    padding: 20px;
    text-align: center;
    background-color: var(--yellow);
}

.produtos .descricao-produto h3 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: normal;
}

.produtos p {
    color: var(--black);
    line-height: 20px;
}

.call-action {
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.call-action p {
    margin: 20px 0 15px 0;
    line-height: 20px;
}

.call-action .btn{
    padding: 12px 38px;
}

.portfolio {
    width: 100%;
    background-color: var(--black);
}

.portfolio h2 {
    color: var(--yellow);
    margin-bottom: 20px;
}
.portfolio h2::after {
    background-color: var(--yellow);
}

img.img-esporte {
    margin-top: 20px;
}

.qualidade {
    padding: 60px 0;
}

.qualidade::before {
    content: '';
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 200px;
    right: 162.5px;
    z-index: -1;
}

.qualidade p {
    color: var(--black);
}

.qualidade h3 {
    margin-bottom: 20px;
}
.qualidade h3::after {
    margin: 6px auto;
}

.qualidade .lista-qualidade div {
    text-align: center;
    padding-top: 30px;
}

.quebra-texto {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra-texto .quote-externo {
    max-width: 400px;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: var(--black);
    color: var(--white);
}

.footer h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .1em;
    color: var(--yellow);
    margin-bottom: 15px;
}

.footer h3::after {
    margin: 5px 0 12px 0;
    background-color: var(--yellow);
}

.footer .footer-historia {
    padding-right: 40px;
}

.footer .footer-contato ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.footer .footer-redes ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer .footer-redes ul li a{
    border: 3px solid var(--yellow);
    display: block;
    padding: 10px;
}

.footer .footer-redes ul li a:hover{
    border-color: var(--white);
}

.copy {
    width: 100%;
    background-color: var(--yellow);
    padding: 20px 0;
}

.copy p{
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}


/* PÁGINA SOBRE */

.sobre-introducao {
    width: 100%;
    height: 160px;
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding: 40px 0;
}

.introducao-pags h1{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: var(--white);
}

.introducao-pags h1::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--white);
    margin: 5px auto 10px auto;
}

.sobre h2, .sobre h2::after {
    text-align: start;
    margin: 5px 0 10px 0;
}

.sobre div:first-child {
    padding-right: 81px;
    padding-bottom: 50px;
}

.sobre p{
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.sobre ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}

#sobre section.sobre {
padding: 60px 0 10px 0;
}

/* PÁGINA PRODUTOS */

.produtos h2 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: .1em;
    line-height: 40px;
}

.produtos h2::after, .produtos h2::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--white);
    margin: 5px auto;
}

.produtos-introducao {
    width: 100%;
    height: 160px;
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding: 40px 0;
}

.produtos {
    padding-top: 60px;
}

.produtos div {
    padding: 10px 0;
}

.produtos .imagem-passeio {
    background: url("../img/produtos/passeio-1.jpg") no-repeat center;
    height: 280px;
    text-align: center;
    padding: 120px;
}

.produtos .icon-passeio {
    background: url("../img/produtos/passeio.svg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

.produtos .imagem-passeio2 {
    background: url("../img/produtos/passeio-2.jpg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

.produtos .texto-info {
    background-color: var(--black);
    padding: 0;
}

.produtos .texto-info p{
    color: var(--white);
    padding: 30px 30px 60px 30px;
    line-height: 25px;
    font-size: 18px;
    height: 180px;
}

div .infos-produto {
    padding: 0;
    overflow: auto;
}

.infos-produto ul li{
    float: left;
    background-color: var(--yellow);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    width: 229px;
    height: 49px;
    padding: 15px 0;
}

.infos-produto ul li:nth-child(1), .infos-produto ul li:nth-child(2){
    margin-bottom: 2px;
}

.infos-produto ul li:nth-child(even){  /* impares */
    margin-left: 2px;
}

/* esporte */

.produtos .imagem-esporte {
    background: url("../img/produtos/esporte-1.jpg") no-repeat center;
    height: 280px;
    text-align: center;
    padding: 120px;
}

.produtos .icon-esporte {
    background: url("../img/produtos/esporte.svg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

.produtos .imagem-esporte2 {
    background: url("../img/produtos/esporte-2.jpg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

/* retro */

.produtos .imagem-retro {
    background: url("../img/produtos/retro-1.jpg") no-repeat center;
    height: 280px;
    text-align: center;
    padding: 120px;
}

.produtos .icon-retro {
    background: url("../img/produtos/retro.svg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

.produtos .imagem-retro2 {
    background: url("../img/produtos/retro-2.jpg") no-repeat center;
    background-color: var(--black);
    height: 280px;
}

/* orcamento */

.orcamento {
    padding: 40px 0;
    margin-top: 60px;
    background-color: var(--black);
    width: 100%;
}
.orcamento h2 {
    color: var(--yellow);
}
.orcamento h2::after {
    background-color: var(--yellow);
}
#produtos .form {
    padding-right: 60px;
}
#produtos .form label {
    display: block;
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}
#produtos .form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid var(--yellow);
    background-color: transparent;
    color: var(--white);
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#produtos .form textarea {
    display: block;
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid var(--yellow);
    background-color: transparent;
    color: var(--white);
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#produtos .form button.btn {
    padding: 7px 40px;
    margin-top: 10px;
    cursor: pointer;
    clear: both;
}

#produtos .orcamento-dados {
    color: var(--white);
}

#produtos .orcamento-dados h3{
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: var(--yellow);
    font-weight: bold;
}

#produtos .orcamento-dados span{
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#produtos .orcamento-dados span:nth-of-type(even) {
    margin-bottom: 30px;
}

#produtos .orcamento-dados ul {
    padding-right: 60px;
}

#produtos .orcamento-dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 15px;
}

#produtos .orcamento-dados ul li:nth-child(odd) {
    background-color: #1d1d1d;
}


#produtos .orcamento-dados p {
    margin: 8px 0;
}

/* porfólio */

.portfolio-introducao {
    width: 100%;
    height: 160px;
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding: 40px 0;
}

#portfolio .portfolio {
    padding: 40px 0;
}

#portfolio .quote-clientes {
    padding: 60px 0;
    max-width: 460px;
    margin: 0 auto;
}

#portfolio .quote-clientes p{
    color: var(--black);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

#portfolio .quote-clientes cite{
    font-weight: bold;
    font-size: 18px;
    float: right;
    font-style: normal;
}

/* contato */

.contato-introducao {
    width: 100%;
    height: 160px;
    background: url("../img/bg-contato.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding: 40px 0;
}

.contato {
    padding: 40px 0;
}

#contato-form {
    padding-right: 60px;
}

#contato-form label{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

#contato-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid var(--yellow);
    background-color: transparent;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contato-form textarea {
    display: block;
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    border: 4px solid var(--yellow);
    background-color: transparent;
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contato-form button.btn {
    padding: 7px 40px;
    margin-top: 10px;
    cursor: pointer;
    clear: both;
}

#contato .contato-dados {
    color: var(--black);
}

#contato .contato-dados h3{
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: var(--yellow);
    font-weight: bold;
}

#contato .contato-dados h3::after{
    display: none;
}

#contato .contato-dados span{ 
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contato .contato-dados span:nth-of-type(even) { 
    margin-bottom: 30px;
}

#contato .contato-dados p {
    margin: 8px 0;
}

#contato .contato-dados ul {
    margin-top: 10px;
}
#contato .contato-dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
}
#contato .contato-dados ul li a{
    border: 3px solid var(--yellow);
    display: block;
    padding: 10px;
}
#contato .contato-dados ul li a:hover{
    border-color: var(--black);
}

#contato .contato-mapa {
    margin-bottom: 60px;
}