:root {
    --yellow: #FEC63E;
    --black: #000;
    --white: #FFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    transition: ease-in-out 0.3s;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
}

h2, h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

h2::after, h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--black);
    margin: 5px auto;
}

.btn {
    padding: 12px 31px;
    background-color: transparent;
    border: solid 4px var(--yellow);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: var(--yellow);
    font-weight: bold;
    letter-spacing: .1em;
    transition: ease-in-out 0.3s;
}

.btn:hover {
    border-color: var(--white);
    color: var(--white);
}

.btn.btn-preto:hover {
    border-color: var(--black);
    color: var(--black);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px 0;
    z-index: 200;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: var(--white);
}

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 96px;
    text-align: center;
}

.introducao h1 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-top: 80px;
}

.introducao .quote-externo {
    max-width: 262px;
    margin: 12px auto;
    font-style: italic;
}

.introducao .quote-externo p::before, .introducao .quote-externo p::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--white);
    margin: 14.5px auto;
}

.introducao .quote-externo cite {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    font-style: normal;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 50px;
}

.produtos {
    margin: 60px 0;
}

.produtos .imagem-produto{
    background-color: var(--black);
    padding: 20px;
    text-align: center;
}

.produtos .descricao-produto {
    text-align: center;
    background-color: var(--yellow);
}

.produtos .descricao-produto h3 {
    padding: 15px 25px 0 25px;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: normal;
}

.produtos p {
    color: var(--black);
    padding: 10px 20px 20px 20px;
    line-height: 20px;
}

.produtos .call-action {
    text-align: center;
    clear: both;
}

.produtos .call-action p {
    margin: 20px 0 10px 0;
}

.produtos .call-action .btn{
    padding: 12px 38px;
}


